.nav-container{
    z-index: 3;
}
.nav-title{
    font-size: 1.3rem;
  }
  .nav-title a{
    text-decoration: none;
    color: black;
  }
  .nav-icon{
    font-size: 1.3rem;
  }
  .search-div{
    border: 0.1px solid black;
    margin: 0 auto;
   }
   .searchbar{
   outline: none;
   border: none;
   padding: 0.7px;
    width: 15rem;   
   }

.description{
    margin: 1rem 0.9rem;
}
.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}